<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="org.fanlychie.multiple.datasource.sample.mapper.UserMapper">

	<select id="findAll" resultMap="UserResultMap">
		SELECT * FROM T_USER
	</select>

	<select id="findByName" resultMap="UserResultMap">
		SELECT * FROM T_USER WHERE NAME = #{name}
	</select>

	<resultMap id="UserResultMap" type="org.fanlychie.multiple.datasource.sample.entity.User">
		<id property="id" column="ID" />
		<result property="name" column="NAME" />
	</resultMap>

</mapper>