<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- 自定义属性信息 -->
    <property name="LOG_PATTERN" value="%date{yyyy-MM-dd HH:mm:ss} - [%-5level] [%-8thread] %-36logger{36} : %msg%n"/>
    <property name="LOG_FILE" value="my.log"/>
    <property name="ERROR_LOG_FILE" value="error.log"/>
    <property name="LOG_FILE_MAX_SIZE" value="1MB"/>
    <property name="LOG_FILE_TOTAL_SIZE" value="10GB"/>
    <property name="LOG_FILE_KEEP_MAX_DAYS" value="30"/>
    <!-- 控制台日志配置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 日志文件输出格式 -->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 文件日志配置 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <!-- 日志文件输出格式 -->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <!-- 日志文件存储位置 -->
        <file>${LOG_FILE}</file>
        <!-- 日志文件滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 历史日志名称 -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <!-- 单个日志文件的最大大小 -->
            <maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>
            <!-- 历史日志文件最大保留的天数 -->
            <maxHistory>${LOG_FILE_KEEP_MAX_DAYS}</maxHistory>
            <!-- 日志文件总的大小, 超出则删除旧的历史文件 -->
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>
    </appender>
    <!-- 文件日志配置 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 只记录ERROR级别的日志信息 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 设置过滤级别 -->
            <level>ERROR</level>
            <!-- 用于配置符合过滤条件的操作 -->
            <onMatch>ACCEPT</onMatch>
            <!-- 用于配置不符合过滤条件的操作 -->
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <!-- 日志文件输出格式 -->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <!-- 日志文件存储位置 -->
        <file>${ERROR_LOG_FILE}</file>
        <!-- 日志文件滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 历史日志名称 -->
            <fileNamePattern>${ERROR_LOG_FILE}.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <!-- 单个日志文件的最大大小 -->
            <maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>
            <!-- 历史日志文件最大保留的天数 -->
            <maxHistory>${LOG_FILE_KEEP_MAX_DAYS}</maxHistory>
            <!-- 日志文件总的大小, 超出则删除旧的历史文件 -->
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>
    </appender>
    <!-- rootLogger(如果没有特殊的指定, 就采用此作为默认的) -->
    <root level="INFO">
        <!-- 写到控制台 -->
        <appender-ref ref="CONSOLE"/>
        <!-- 写到文件中 -->
        <appender-ref ref="FILE"/>
        <!-- 只记录ERROR级别的日志 -->
        <appender-ref ref="ERROR_FILE"/>
    </root>
    <!-- 多环境日志配置 -->
    <!-- 开发和测试环境 -->
    <springProfile name="dev,test">
        <!-- 自定义logger -->
        <!-- additivity="false"：屏蔽rootLogger, 避免日志信息重复输出到控制台 -->
        <logger name="org.fanlychie" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>
    <!-- 生产环境配置 -->
    <springProfile name="prod">
        <!-- 自定义logger -->
        <logger name="org.fanlychie.mapper" level="DEBUG"/>
    </springProfile>
</configuration>